@model IEnumerable<basketball_tournament_tracker.Models.Team>

<link rel="stylesheet" href="~/css/TeamIndexStyle.css" />
<h2>Teams</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td>@team.Name</td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="create-team">Create Team</a>
