@model IEnumerable<basketball_tournament_tracker.Models.Team>

<link rel="stylesheet" href="~/css/TeamIndexStyle.css" />
<h2>Teams</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Players</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td>@team.Name</td>
                <td>
                    <ul>
                        @foreach (var player in team.Players)
                        {
                            <li>@player.Name (@player.Position) - #@player.JerseyNumber</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="create-team btn btn-primary">Create Team</a>
